.collapsible {
	background-color: #303030;
	padding: 5px;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.collapsible__header {
	background-color: #303030;
    border: 1px solid #000000;
	display: grid;
	grid-template-columns: 80% 20%;
	padding: 7px 1%;
	
	transition: background-color 0.2s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.collapsible__header--open_green {
    background-color: #436B48;
    border: 1px solid #436B48;
}

.collapsible__header--open_blue {
	background-color: #1E456E;
	border: 1px solid #1E456E;
}

.collapsible__title {
	color: #ffffff;
    display: block;
	font-size: 2.0em;
	font-weight: normal;
	margin: 0px;
}

.collapsible__menu {
	display: table;
	height: 100%;
}

.collapsible__row {
	display: table-row;
}

.collapsible__cell {
	display: table-cell;
	vertical-align: middle;
}

.collapsible__click {
	border: 1px solid #ffffff;
    border-radius: 100px;
	color: #ffffff;
	cursor: pointer;
	float: right;
	font-family: Helvetica, sans-serif;
    font-size: 1.7em;
	font-style: normal;
	
	margin-left: 5px;
	margin-right: 5px;
	
	text-align: center;
	-webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: transform 0.3s ease;

    height: 35px;
    width: 35px;
}

.collapsible__click--rotate {
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg); 
    -o-transform:rotate(-90deg);
    transform:rotate(-90deg);
}

.collapsible__cargo {
	display: grid;
	grid-template-columns: 60% 40%;
	overflow: hidden;
	padding: 10px 0 10px 0;
	
    -webkit-transition: -webkit-max-height 0.2s ease-out, -webkit-padding 0.2s ease-out;
    -moz-transition: -max-height 0.2s ease-out, -moz-padding 0.2s ease-out;
    -o-transition: -o-max-height 0.2s ease-out, -o-padding 0.2s ease-out;
    transition: max-height 0.2s ease-out, padding 0.2s ease-out;
	background-color: #333333;
}

.collapsible__cargo--green {
	border: 1px solid #436B48;
}

.collapsible__cargo--blue {
	border: 1px solid #1E456E;
}

.collapsible__image {
	padding-left: 10px;
	width: 100%;
}

.collapsible__info {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.3em;
}

.collapsible__paragraph {
	color: #ffffff;
	margin-top: 5px;
}

.collapsible__paragraph--quote {
	font-style: italic;
}

.collapsible__link {
    border: 1px solid;
    border-radius: 5px;
	display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
	text-decoration: none; 
}

.collapsible__link--green {
	color: #78AB46;
}

.collapsible__link--blue {
	color: #52B2C0;
}

.collapsible__link--green:hover {
	border: 1px solid #78AB46;
	background-color: #78AB46;
	color: #ffffff;
}

.collapsible__link--blue:hover {
	border: 1px solid #52B2C0;
	background-color: #52B2C0;
	color: #ffffff;
}

@media screen and (max-width: 800px) {
	.collapsible {
		padding-left: 0;
		padding-right: 0;	
	}
	
	.collapsible__cargo {
		display: block;
		padding: 0px;
	}
	
	.collapsible__image {
		display: block;
		float: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	
	.collapsible__info {
		padding-bottom: 10px;
	}
}