* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	min-height: 100%;
	background-color: #303030;
}

.container {
	display: grid;
	grid-template-columns: 50% 50%;
	
	width: 99%;
	margin: 20px auto 0 auto;
}

@media screen and (max-width: 800px) {
	.container {
		grid-template-columns: 100%;
	}
}